/* Global Variable Colors */
:root {
  /* Original Color Declarations */
  --accent-color: #ED3D63;
  --accent-color-deemph: #ed3d6378;
  --cust-palette-0: #8D3FD0;
  --cust-palette-1: #0683D7;
    --cust-palette-1-darker: #0380d4;
  --cust-palette-2: #223CCF;
  --cust-palette-3: #161B7F;
  --base-color: #161f22;
  --base-contrast-color: #29444b;
  --base-color-light: #FEFFFF;
  --base-color-light-contrast: #dee2f2;

  /* General */
  --header-color-1: var(--base-color-light);
  --header-color-2: var(--base-color-light-contrast);
  --header-color-3: var(--cust-palette-2);
  --header-color-4: var(--cust-palette-3);
  --general-text-color: #17252A;
  --dark-contrast-text-emphasis: #fafaff;
  --dark-contrast-text-deemphasis: #ceced5;
  --light-contrast-text-emphasis: var(--cust-palette-3);
  --light-contrast-text-deemphasis: #707085;
  --err-msg-color: #bf0000;
  --border-color: var(--cust-palette-1);
  
  /* Login Form */
  --login-form-color: var(--base-color-light);
  /* Nav Bar */
  --navbar-background-color: var(--base-contrast-color);
  --nav-bar-top-border-color: var(--accent-color);
  --nav-bar-tab-active-color: var(--base-color);
  --nav-bar-tab-inactive-color: var(--base-color);
  --nav-bar-tab-hover-text: var(--dark-contrast-text-emphasis);
  --nav-bar-tab-inactive-text: var(--dark-contrast-text-deemphasis);
  --nav-bar-tab-inactive-inshadow : outset 3px #2b3f45;
  --nav-bar-tab-active-text: var(--accent-color);
  --nav-bar-tab-active-border: 1px solid var(--accent-color);
  --nav-bar-tab-active-inshadow : inset 0 0 3px #3c565e;
  /* Header */
  --header-background-color: var(--base-contrast-color);
  /* Quiz Card Display */
  --quiz-card-color: var(--base-color-light);
  --quiz-card-shadow-color: #c2c2c2;
  /* User Stats */
  --user-stats-content: var(--base-color-light);
  /* Quiz Creator Form */
  --quiz-creator-form-color: var(--base-color-light);
  /* Quiz Detail */
  --quiz-detail-color: var(--base-color-light);
  --progress-bar-block-color: var(--accent-color);
  --progress-bar-background-color: var(--base-color-light-contrast);
  /* Hist Quiz List */
  --hist-quiz-list-item: var(--base-color-light-contrast);
  --hist-quiz-list-item-active: var(--base-color-light);
  /* User stats tabset */
  --user-stat-inactive-tabset-color: var(--base-color-light-contrast);
  --user-stat-inactive-tabset-text: var(--light-contrast-text-deemphasis);
  --user-stat-active-tabset-color: var(--base-color-light);
  --user-stat-active-tabset-text: var(--header-color-4);
  
  /* Buttons */
  --button-color: var(--cust-palette-3);
  --button-text: var(--base-color-light);
  --active-button-color: var(--cust-palette-1-darker);
  --button-border-color: #257772;

  /* Warning Buttons */
  --warning-btn-color: var(--cust-palette-3);
  --warning-btn-hover-color: var(--err-msg-color);

  /* Deactivated btns */
  --warning-deactive-btn-text: #3a3a3a;
  --warning-deactive-btn-color: #c4c4c4;
  --warning-deactive-btn-border: #838383;

  /* scrollbar */
  --scrollbar-track-color: var(--base-color-light-contrast);
  --scrollbar-thumb-color: #17252A;

  /* Backgrounds */
  --gradient-top-color: var(--cust-palette-1);
  --gradient-bottom-color: var(--base-color);

  --gradient-background-color-login: linear-gradient(
    var(--gradient-top-color),
    var(--gradient-bottom-color)
    ); 

  --gradient-background-color-main: linear-gradient(
    var(--cust-palette-2),
    var(--cust-palette-1-darker),
    var(--cust-palette-2)
    ); 
}

/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root, body, html {
  height: 100%;
  overflow-y: hidden;
}
h1 {
  font-size : 40px;
  color : var(--header-color-1);
  letter-spacing: 2px;
}
h2 {
  font-size : 35px;
  letter-spacing: 1px;
}
h3 {
  font-size : 22px;
  letter-spacing: 1px;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  visibility:hidden;
  border-radius: 25px;
  margin-right: 10px;

}
*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  visibility:hidden;
  border-radius: 25px;
}
*:hover::-webkit-scrollbar-thumb, *:hover::-webkit-scrollbar-track {
  visibility:visible;
}

/* Button container & classes */
.btnContainer {
  padding-top: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px 3% 0 3%;
  border-top: 1px solid var(--border-color);
}
  .btnContainerDual {
    justify-content: space-between;
  }
  .btnContainerSingle {
    justify-content: space-evenly;
    width: 100%;
  }
  .stackedBtnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 12px 12px 12px;
  }
button, .btn {
  border-radius: 5px;
  font-size: 21px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color .4s;
}
  .colorBtn {
    color : var(--button-text);
    background-color: var(--button-color);
    border: 1px var(--button-border-color);
  }
    .colorBtn:hover {
      color : var(--button-text);
      background-color: var(--active-button-color);
      border: 1px var(--button-border-color);
    }
  .cautionBtn {
    color : var(--button-text);
    background-color: var(--warning-btn-color);
    border: 1px var(--warning-btn-hover-color);
  }
    .cautionBtn:hover {
      background-color: var(--warning-btn-hover-color);
      border: 1px var(--warning-btn-color);
    }
  .deactivatedBtn { 
    color : var(--warning-deactive-btn-text);
    background-color: var(--warning-deactive-btn-color);
    border: 1px var(--warning-deactive-btn-border);
  }

/* Component specific classes */
  /* Login page */
  .loginBtn, .textInput  {
    height: 30px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .loginBtn {
    font-weight: 600; 
    font-size: 14px;
  }
  /* Quiz Config & Historical */
  .quizConfigPrevViewBtn {
    min-height: 30px;
    width: 100%;
    max-width: 300px;
  }
  /* Quiz Detail */
  .quizDetailResultsBtnContainer, .quizConfig {
    width: 80%;
    max-width: 1000px;
  }
  .quizDetailResultsBtnContainer {
    margin: 0;
    padding: 0;
  }
    .quizConfigBtn {
      min-width: 150px;
      min-height: 30px;
    }
  /* Quiz */
  .quizNavBtn {
    width: 200px;
    height: 40px;
  }
  /* Quiz Creator */
  .creatorBtn {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
  }
  .creatorBtnMain {
    font-size: 22px;
    padding: 10px 12px;
    margin-bottom: 20px;
  }
  /* UserStats */
  .tabsetBtn {
    padding: .5% 1%;
    border-radius: 10px 10px 0 0;
    border: 1px solid var(--border-color);
    border-bottom: 0;
    cursor: pointer;
    background-color: var(--user-stat-inactive-tabset-color);
    color: var(--user-stat-inactive-tabset-text);
  }
  .tabsetBtn:hover, .activeTabsetBtn {
    background-color: var(--user-stat-active-tabset-color);
    color: var(--user-stat-active-tabset-text);
  }
  .activeTabsetBtn {
    position: relative;
    top: 1px;
  }
  .userStatsBtn {
    padding: 5px;
    min-width: 150px;
  }

/* Header bar */
header {
  height: 10%;
  max-height: 120px;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .logoContainer {
   display: flex; 
   align-items: center;
  }
    .logoHeaderBear {
      padding-left: 20px;
      width: auto;
      max-height: 75px;
    }
    .logoHeaderText {
      padding-left: 5%;
      letter-spacing: 3px;
      color: var(--header-color-1);
    }
  .headerMetrics {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .headerMetrics > * {
    color: var(--header-color-1);
  }
/* NavBar */
.navBar {
  display: flex;
  justify-content: space-around;
  background-color: var(--navbar-background-color);
  border-top: 5px solid var(--nav-bar-top-border-color); /* this should be the same color as the active tab */
  height: 7%;
}
  .navBarTab {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 0 0 5px 5px ;
    margin-bottom: 10px;
    color : var(--nav-bar-tab-inactive-text);
    background-color: var(--nav-bar-tab-inactive-color);
    border: var(--nav-bar-tab-inactive-inshadow);
  }
  .activeTab {
    color : var(--nav-bar-tab-active-text);
    background-color: var(--nav-bar-tab-active-color);
    box-shadow: var(--nav-bar-tab-active-inshadow);
    border: 0;
    border-top: var(--nav-bar-tab-active-border); 
  }
  .navBarTab:hover {
    color : var(--nav-bar-tab-hover-text);
    background-color: var(--nav-bar-tab-active-color);
  }
  .activeTab:hover {
    color : var(--nav-bar-tab-active-text);
  }
    .activeTab > * {
      text-decoration: underline;
      text-underline-offset: 3px;
      text-decoration-thickness: 2px;
    }
/* Login page */
.loginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient-background-color-login);
  height: 100%;
}
/* Bear Logo */
.bearLogoMain {
  width: auto;
  max-height: 300px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--login-form-color);
  border-radius: 25px;
  padding: 1%;
  margin-top: 15px;
  max-width: 500px;
}
  .loginHeader {
    color: var(--general-text-color);
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin-bottom: 10px;
  }
  .textInput {
    padding: 10px;
    border: var(--border-color) 1px solid;
  }
  .loginMsgContainer {
    height: 50px;
    max-width: 350px;
  }
  .loginMsgContainer > p {
    font-size: 20px;
  }
    .userMessage {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
      min-height: 25px;
      color: var(--err-msg-color);
    }
/*---Main Menu---*/
main {
  height: 100%;
  background-image: var(--gradient-background-color-main);
}
.welcomeTextContainer{
  display:  flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 12%;
  max-height: 80px;
}
.quizCardDisplay  {
  background-color: var(--quiz-card-color);
  max-height: 65%;
  min-width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(375px, 400px));
  margin: 10px 50px;
  border-radius: 10px;
}
  /*-- Quiz Card ---*/
  .quizCard {
    cursor: pointer;
    border: solid 1px black;
    display: inline-block;
    background-color: var(--base-color);
    margin: 0 3px 20px 20px;
    min-width: 350px;
    max-width: 400px;
    height: 200px;
  }
  .quizCard:hover {
    box-shadow: 5px 10px 10px var(--quiz-card-shadow-color);
  }
    .quizCardContent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .quizCardContent * {
      text-align: center;
      margin-bottom: 10px;
    }
    .quizCardName {
      font-size: 30px;
      color: var(--header-color-1);
    }
    .quizCardSubject {
      font-size: 25px;
      color: var(--header-color-1);
    }
    .quizCardContent > p {
      font-size: 20px;
      color: var(--header-color-2);
    }

/*-- Quiz Detail ---*/
.quizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
  .quizDetail {
    background-color: var(--quiz-detail-color);
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    min-width: 350px;
    max-width: 80%;
    border-radius: 25px;
    width: 100%;
    text-align: center;
  }
  .quizDetailTitle {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px var(--button-border-color) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
  }
  .quizForm {
    width: 100%;
  }
    .questionText {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 20px;
      height: 100px;
    }
      .questionContainer {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        min-height: 50px;
        max-width: 100%;
      } 
        .questionInputContainer {
          display: flex;
        }
          .radioInput {
            width: 35px;
            height: 35px;
            margin-right: 20px;
          }
      .questionTextContainer {
        display: flex;
      }
        .answerText {
          font-size: 20px;
          text-align: justify;
        }

    .quizConfig {
      display: flex;
      flex-direction: column;
      border-top: 1px solid var(--border-color);
      margin-top: 20px;
      padding-top: 10px;
    }
    .quizConfig > p {
      margin-bottom: 25px;
    }
      .quizConfigCheckBoxRow {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
      }
      .quizConfigCheckBoxRow > input { 
        width: 30px;
        height: 30px;
      }
      .quizConfigCheckBoxRow > label { 
        width: auto;
        max-width: 500px;
        font-size: 28px;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        color : var(--general-text-color)
      }
    .quizFormProgressBarContainer {
      display: flex;
      justify-content: center;
    }
    .quizFormProgressBar, .quizFormProgressBarBlock { 
      min-height: 15px;
      border-radius: 4px;
    }
      .quizFormProgressBar {
        display: flex;
        flex-direction: row;
        width: 80%;
        border: 1px solid var(--border-color);
        background-color: var(--progress-bar-background-color);
      }
        .quizFormProgressBarBlock {
          width: 100%;
        }
        .activeBlock {
          background-color: var(--progress-bar-block-color);
        }
      .activeBlock {
        position: relative;
        right: 5px;
      }
      .activeBlock:first-child {
        padding-right: 0px;
        position: relative;
        right: 0px;
      }

/*-- Quiz Creator Form ---*/
.quizCreatorForm {
  background-color: var(--quiz-creator-form-color);
  display:  flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  min-width: 350px;
  width: 100%;
  max-width: 80%;
  border-radius: 25px;
  overflow: auto;
  height: fit-content;
  max-height: 700px;
  
}
  .creatorInput {
    margin: 0 1px 5px 10px;
    padding-left: 10px;
  }
  .creatorTitle {
    align-items: center;
  }
  .creatorQuizName {
    width: 70%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .creatorQuizSubject {
    width: 60%;
    font-size: 27px;
    text-align: center;
  }
  .topicCreatorContainerSpacer {
    width: 100%;
  }
  .topicCreatorContainer {
    width: 95%;
    padding-left: 2%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed var(--border-color);
  }
  .topicCreatorContainer:last-child {
    border-bottom: 0;
  }
    .topicNameText, .topicNameText > * {
      font-size: 23px;
      display: flex;
    }
    .inactiveQuestionText > * {
      font-size: 20px;
    }
    .questionCreatorContainer {
      padding-left: 2%;
    }
      .answerCreatorContainer {
        padding-left: 35px;
        display: flex;
        flex-direction: column;
      }
        .answerCreatorGuideText {
          font-size: 18px;
        }
        .quizCreatorAnswerCorr, .quizCreatorAnswerIncorr {
          font-size: 18px;
          margin-left: 15px;
        }
        .noBorder {
          border: 0;
        }
      .questionCreator {
        border-bottom: 1px dashed var(--border-color);
        margin-bottom: 15px;
      }
      .questionCreator:last-child {
        border-bottom: 0;
      }
      .quizCreatorFormMessage {
        font-size: 18px;
      }
      .questionDeleteContainer{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px 3% 3% 3%;
      }
/* QuizResults */
  .histQuizContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
    .inactiveQuiz {
      min-width: 300px;
      max-height: 50vh;
      margin: 20px 0 2px 0;
      overflow: auto;
      border: 1px var(--border-color) solid;
    }
    /* HistoricalQuizList */
      .histQuizListItem {
        display: flex;
        flex-direction: column;
        background-color: var(--hist-quiz-list-item);
        border-bottom: 1px var(--border-color) dashed;
        transition: background-color .5s;
        width: 100%;
        padding: 10px 5px;
      }
      .histQuizListItem:last-child {
        border: 0 v(--border-color) solid;
      }
      .histQuizListItem:hover {

        background-color: var(--hist-quiz-list-item-active);
      }
          .histQuizListItem__text {
            font-size: 17px;
          }
          .histQuizListItem__pair {
            text-align: justify;
          }
            .histQuizListItem__label {
              font-weight: 800;
            }
            .emphasizedText {
              font-style: italic;
            }
    /* HistoricalQuizDetail */
      .inactiveQuestionContainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
      .inactiveQuestionTextContainer {
        display: flex;
        flex-direction: column;
        margin: 10px 0 2px;
      }
        .inactiveQuestionText {
          display: flex;
          font-size: 20px;
          text-align: justify;
          margin-bottom: 15px;
        }
        .iconPlaceholder, .quizIcon {
          width: 25px;
          height: 25px;
          min-width: 25px;
          margin-right: 10px;
          display: inline-block;
        }
        .correctAnswer {
          font-weight: 700;
          text-decoration: underline;
        }
        .incorrectAnswer {
          color: darkgray;
        }
        .inactiveAnswer {
          display: flex;
          align-items: center;
        }
        .inactiveAnswerText {
          font-size: 18px;
        }
/* confirm box */
  .confirm-box__content {
    position:absolute;
    left:-30%;
    display: grid;
  }
  .confirm-box__content > span {
    text-align: center;
    font-size: 25px;
  }
/* UserStats */
  .userStatsContainer {
    display: flex;
    justify-content: center;
    height: 80%;
  }
  .userStatsContent {
    background-color: var(--user-stats-content);
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    width: 100%;
    min-width: 350px;
    max-width: 80%;
    border-radius: 25px;
    text-align: center;
  }
  .userStatsPane {
    width: 90%;
    height: 90%;
    max-height: 525px;
    border: 1px solid var(--border-color);
    overflow-y: scroll;
  }
    .userStatsResultsCard {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0 1px 10px;
    }
      .userStatsResultsCardTitle {
        font-size: 30px;
        font-weight: 600;
      }
      .userStatsResultsCardStats {
        display: flex;
        align-items: center;
        margin-left: 5%;
        width: 90%;
        border-bottom: 1px dashed var(--border-color);
        padding-bottom: 10px;
      }
        .userStatsResultsCardRatio {
          font-size: 24px;
        }
        .userStatsResultsCardSep {
          margin: 0 1px;
        }
        .userStatsResultsCardPct {
          font-size: 24px;
        }
/* UserStatsTabset */
  .tabsetContainer { 
    display: flex;
    width: 90%;
  }