/* Global Variables */
:root {
  --main-background-color: #17252A;
  --sub-background-color: #FEFFFF;
  --quiz-background-color: #DEF2F1;
  --banner-background-color: #17252A;
  --header-color-1: #FEFFFF;
  --header-color-2: #DEF2F1;
  --header-color-3: #3AAFA9;
  --header-color-4: #2B7A78;
  
  --border-color: #2B7A78;

  --button-color: #3AAFA9;
  --button-border-color: #257772;
  
  --emphasis-text-color: #4fd6cf;
  --general-text-color: #17252A;
  --err-msg-color: rgb(244, 6, 6);

  --warning-btn-color: rgb(184, 18, 18);
  --warning-btn-border: rgb(131, 18, 18);
  --warning-deactive-btn-text: rgb(58, 58, 58);
  --warning-deactive-btn-color: rgb(196, 196, 196);
  --warning-deactive-btn-border: rgb(131, 131, 131);
  
  --gradient-top-color: #3AAFA9;
  --gradient-mid-1-color: #2B7A78;
  --gradient-bottom-color: #051f20;
  --gradient-background-color: linear-gradient(
          var(--gradient-top-color),
          var(--gradient-mid-1-color),
          var(--gradient-bottom-color)); 
}

/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root, body, html {
  height: 100%;
  overflow-y: hidden;
}
h1 {
  font-size : 50px;
  color : var(--header-color-1);
  letter-spacing: 2px;
}
h2 {
  font-size : 35px;
  letter-spacing: 1px;
}
h3 {
  font-size : 25px;
  letter-spacing: 1px;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-track {
  background: var(--quiz-background-color);
  visibility:hidden;
  border-radius: 25px;
  margin-right: 10px;

}
*::-webkit-scrollbar-thumb {
  background: var(--banner-background-color);
  visibility:hidden;
  border-radius: 25px;
}
*:hover::-webkit-scrollbar-thumb, *:hover::-webkit-scrollbar-track {
  visibility:visible;
}

/* General classes */

.btnContainer {
  padding-top: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 20px 3% 0 3%;
  border-top: 1px solid var(--border-color);
}
.btnContainerDual {
  justify-content: space-between;
}
.btnContainerSingle {
  justify-content: space-evenly;
  width: 100%;
}

.colorBtn {
  cursor: pointer;
  min-height: 30px;
  min-width: 100px;
  padding: 0px 10px;
  color : var(--header-color-1 );
  background-color: var(--button-color);
  border: 1px var(--button-border-color);
  border-radius: 5px;
  font-size: 21px;
  transition: background-color .2s;
}
.colorBtn:hover {
  background-color: var(--button-border-color);
  border: 1px var(--button-color);
}

.btnCaution {
  color : var(--header-color-1);
  background-color: var(--warning-btn-color);
  border: 1px var(--warning-btn-border);
  transition: background-color .2s;
}
.btnCaution:hover {
  background-color: var(--warning-btn-border);
  border: 1px var(--warning-btn-color);
}

.btnCautionDeactivated {
  color : var(--warning-deactive-btn-text);
  background-color: var(--warning-deactive-btn-color);
  border: 1px var(--warning-deactive-btn-border);
}



/* Header bar */
header {
  height: 18%;
  max-height: 120px;
  background-color: var(--main-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .logoContainer {
   display: flex; 
   align-items: center;
  }
    .logoHeaderBear {
      padding-left: 20px;
      width: auto;
      max-height: 100px;
    }
    .logoHeaderText {
      padding-left: 5%;
      letter-spacing: 3px;
      color: var(--header-color-1);
    }
  .headerMetrics {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .headerMetrics > * {
    color: var(--header-color-1);
  }
/* NavBar */
.navBar {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-background-color);
  height: 5%;
}
  .navBarBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    border-radius: 5px 5px 0px 0px;
    color : var(--header-color-2 );
    background-color: var(--button-border-color);
    border: 1px var(--button-color);
  }
  .navBarBtn:hover {
    color : var(--header-color-1);
    background-color: var(--button-color);
    border: 1px var(--button-border-color);
  }
  .activeBtn {
    color : var(--header-color-1);
    background-color: var(--button-color);
    border: 1px var(--button-border-color);
  }
  .activeBtn > * {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
  }


  /* Login page */
.loginMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--gradient-background-color);
  height: 100%;
}
/* Bear Logo */
.bearLogoMain {
  width: auto;
  max-height: 300px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sub-background-color);
  border-radius: 25px;
  padding: 1%;
  margin-top: 15px;
  max-width: 500px;
}
  .loginHeader {
    color: var(--general-text-color);
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin-bottom: 10px;
  }
  .loginButton, .textInput, .toggleAccCreateButton  {
    height: 30px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .textInput {
    padding: 10px;
    border: var(--border-color) 1px solid;
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 12px 12px 12px;
  }
    .buttonContainer > * {
    font-weight: 600; 
    font-size: 14px;
    letter-spacing: .5px;
    }
  .loginMsgContainer {
    height: 50px;
    max-width: 350px;
  }
  .loginMsgContainer > p {
    font-size: 20px;
  }
    .userMessage {
      font-style: italic;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
      min-height: 25px;
      color: var(--err-msg-color);
    }

/*---Main Menu---*/
main {
  height: 100%;
  background-image: var(--gradient-background-color);
}
.welcomeTextContainer{
  display:  flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 12%;
  max-height: 80px;
}
.quizCardDisplay  {
  background-color: var(--sub-background-color);
  max-height: 70%;
  min-width: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  justify-content: space-evenly;
  justify-items: stretch;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(375px, 400px));
  margin: 10px 50px;
  padding: 20px;
  border-radius: 10px;
}
  /*-- Quiz Card ---*/
  .quizCard {
    cursor: pointer;
    border: solid 1px black;
    height: auto;
    display: inline-block;
    background-color: var(--banner-background-color);
    margin: 0px 30px 20px 20px;
    min-width: 350px;
    max-width: 400px;
    height: 200px;
  }
  .quizCard:hover {
    box-shadow: 5px 10px 10px rgb(194, 194, 194);
  }
    .quizCardContent {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .quizCardContent * {
      text-align: center;
      margin-bottom: 10px;
    }
    .quizCardName {
      font-size: 30px;
      color: var(--header-color-1);
    }
    .quizCardSubject {
      font-size: 25px;
      color: var(--header-color-1);
      font-style: italic;
    }
    .quizCardContent > p {
      font-size: 20px;
      color: var(--header-color-2);
    }

/*-- Quiz Detail ---*/
.quizContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
  .quizDetail {
    background-color: var(--sub-background-color);
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    min-width: 350px;
    width: 100%;
    max-width: 80%;
    border-radius: 25px;
  }
  .quizDetailTitle {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px var(--button-border-color) solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .quizDetailTitle {
    font-size: 25px;
  }
  .quizForm {
    width: 100%;
  }
    .questionText {
      font-weight: 600;
      font-size: 25px;
      margin-bottom: 20px;
      height: 100px;
    }
    .quizDetail {
      width: 100%;
      text-align: center;
    }
      .questionContainer {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        min-height: 50px;
        max-width: 100%;
      } 
        .questionInputContainer {
          display: flex;
        }
          .radioInput {
            width: 35px;
            height: 35px;
            margin-right: 20px;
          }
      .questionTextContainer {
        display: flex;
      }
        .answerText {
          font-size: 20px;
          text-align: justify;
        }
    .quizDetailResultsBtnContainer, .quizConfig {
      width: 80%;
      max-width: 1000px;
    }
    .quizDetailResultsBtnContainer {
      margin: 0px;
      padding: 0px;
    }
      .quizDetailResultsBtnContainer * {
        width: 100%;
      }
    .quizConfig {
      display: flex;
      flex-direction: column;
      border-top: 1px solid var(--border-color);
      margin-top: 20px;
      padding-top: 10px;
    }
    .quizConfig > p {
      margin-bottom: 25px;
    }
      .quizConfigCheckBoxRow {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
      }
      .quizConfigCheckBoxRow > input { 
        width: 30px;
        height: 30px;
      }
      .quizConfigCheckBoxRow > label { 
        width: auto;
        max-width: 500px;
        font-size: 28px;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        color : var(--general-text-color)
      }
      .quizNavButton {
        width: 200px;
        height: 40px;
      }

/*-- Quiz Creator Form ---*/
.quizCreatorForm {
  background-color: var(--sub-background-color);
  display:  flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
  min-width: 350px;
  width: 100%;
  max-width: 80%;
  border-radius: 25px;
  overflow: auto;
  height: fit-content;
  max-height: 700px;
  
}
  .creatorInput {
    margin: 0px 10px 5px 10px;
  }
  .creatorBtn {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
  }
  .creatorBtnMain {
    font-size: 22px;
    padding: 10px 12px;
    margin-bottom: 20px;
  }
  .creatorTitle {
    align-items: center;
  }
  .creatorQuizName {
    width: 70%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
  .creatorQuizSubject {
    width: 60%;
    font-size: 27px;
    text-align: center;
  }
  .topicCreatorContainerSpacer {
    width: 100%;
  }
  .topicCreatorContainer {
    width: 95%;
    padding-left: 2%;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px dashed var(--border-color);
  }
  .topicCreatorContainer:last-child {
    border-bottom: 0px;
  }
    .topicNameText, .topicNameText > * {
      font-size: 23px;
      display: flex;
    }
    .inactiveQuestionText > * {
      font-size: 20px;
    }
    .questionCreatorContainer {
      padding-left: 2%;
    }
      .answerCreatorContainer {
        padding-left: 35px;
        display: flex;
        flex-direction: column;
      }
        .answerCreatorGuideText {
          font-size: 18px;
        }
        .quizCreatorAnswerCorr, .quizCreatorAnswerIncorr {
          font-size: 18px;
          margin-left: 15px;
        }
        .noBorder {
          border: 0px;
        }
      .questionCreator {
        border-bottom: 1px dashed var(--border-color);
        margin-bottom: 15px;
      }
      .questionCreator:last-child {
        border-bottom: 0px;
      }
      .quizCreatorFormMessage {
        font-size: 18px;
      }
      .questionDeleteContainer{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 5px 3% 3% 3%;
      }




/* QuizResults */
  .togglePrevBtn {
    min-height: 30px;
    width: 100%;
    max-width: 300px;
  }
  .histQuizContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
    .inactiveQuiz {
      min-width: 300px;
      max-height: 60vh;
      margin: 20px 0px 20px 0px;
      overflow: auto;
      border: 1px var(--border-color) solid;
    }
    /* HistoricalQuizList */
      .histQuizListItem {
        display: flex;
        flex-direction: column;
        background-color: var(--quiz-background-color);
        border-bottom: 1px var(--border-color) dashed;
        transition: background-color .5s;
        width: 100%;
        padding: 10px 5px;
      }
      .histQuizListItem:last-child {
        border: 0px var(--border-color) solid;
      }
      .histQuizListItem:hover {
        background-color: var(--sub-background-color);
      }
          .histQuizListItem__text {
            font-size: 17px;
          }
          .histQuizListItem__pair {
            text-align: justify;
          }
            .histQuizListItem__label {
              font-weight: 800;
            }
            .emphasizedText {
              font-style: italic;
            }
    /* HistoricalQuizDetail */
      .inactiveQuestionContainer{
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
      .inactiveQuestionTextContainer {
        display: flex;
        flex-direction: column;
        margin: 10px 0px 25px;
      }
        .inactiveQuestionText {
          display: flex;
          font-size: 20px;
          text-align: justify;
          margin-bottom: 15px;
        }
        .iconPlaceholder, .quizIcon {
          width: 25px;
          height: 25px;
          min-width: 25px;
          margin-right: 10px;
          display: inline-block;
        }
        .correctAnswer {
          font-weight: 700;
          text-decoration: underline;
        }
        .incorrectAnswer {
          color: darkgray;
        }
        .inactiveAnswer {
          display: flex;
          align-items: center;
        }
        .inactiveAnswerText {
          font-size: 18px;
        }
/* confirm box */
  .confirm-box__content {
    position:absolute;
    left:-30%;
    display: grid;
    position: relative;
  }
  .confirm-box__content > span {
    text-align: center;
    font-size: 25px;
  }
